<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 20px;
            background-color: rgb(255, 250, 244);
        }
    </style>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "Description" content = "Get random value">
    <title>Random</title>
</head>
<body>
    <h4>What do you want?</h4>
    <ul>
        <li>For random string go to <a href = "/string">random string</a> (set max length with len=NUM in url query)</li>
        <li>For random integer go to <a href = "/int">random int</a> (set max value with max=NUM in url query)</li>
    </ul>
</body>
</html>